<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comprobantes    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Comprobantes</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <!-- List of Text Items -->
<ion-list>
  <ion-searchbar placeholder="Buscar Comprobante" (ionChange)="buscar( $event )"></ion-searchbar>
  <ion-item *ngFor="let comprobante of comprobantes" (click)="detalleComprobante(comprobante)">
   <!-- <img src={{ comprobante.firma }} alt="texto"> -->
    <ion-label>
      <h2> <b>{{ comprobante.domicilio }}</b> </h2>
      <ion-label slot="end"> {{ comprobante.fecha }} </ion-label>
      <p> {{ comprobante.descripcionTrabajo }} </p>
    </ion-label>
   

  </ion-item>
</ion-list>


  <app-explore-container name="Recibos"></app-explore-container>
</ion-content>
